---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Monitor Web">
    <main>
        <section class="scroll-m-20 w-full mx-auto container">
            <Header />
            <h1>Se inicia la seccion <span id="idEmpresa"></span></h1>
        </section>
    </main>
</Layout>


