<script>
    const role = 'admin';
    let idEmpresa, nombre, rfc, logo;
    let token = localStorage.getItem("token");
    const infoEmpresa = document.getElementById("infoEmpresa");

    console.log("aver -> " + token);
    try {
        const res = await fetch("http://127.0.0.1:8000/api/encabezado", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
        });
        let data = await res.json();
        console.log(data);
        if (data.exito) {
            console.table(data);
            idEmpresa = data.id_empresa;
            nombre = data.nombre;
            logo = data.logo;
            console.log(nombre + "|" + logo + "|" + idEmpresa);
            let empresa = `
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
                    <div class="flex items-center">
                      <img class="h-auto max-w-xs" src="logos/${logo}" />
                    </div>
                        <div class="flex items-center text-gray-500 dark:text-gray-400 text-3xl">
                                 ${nombre}        
                        </div>
                    
                    <div class="flex items-center">
                            <img class="h-auto max-w-[5rem] ms-auto" src="img/officon.png" id="Logout" />  
                          
                    </div>
                </div>
                `;
                if (infoEmpresa) {
                    infoEmpresa.insertAdjacentHTML("beforeend", empresa);
                }else{
                    console.log('hola');
                }
            // infoEmpresa?.insertAdjacentHTML("beforeend", empresa);
        } else {
            console.log("no hay informacion");
        }
    } catch (error) {
        console.log("Error en el servicio " + error);
        window.location.href = "/";
    }

    let btnLogout = document.getElementById("Logout");
    btnLogout?.addEventListener("click", async function () {
        console.log("hola");
        try {
            const res = await fetch("http://127.0.0.1:8000/api/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${localStorage.getItem("token")}`,
                },
            });
            const data = await res.json();
            if (data.success) {
                console.log("se cierra sesión");
                window.location.href = "/";
            }
        } catch (error) {
            console.log("Error en el servicio " + error);
            window.location.href = "/";
        }
    });

    let idEmp = document.getElementById("idEmpresa");
    if (idEmpresa) idEmp?.prepend(idEmpresa);
</script>

<header class="bg-white">
    <!-- <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8"> -->
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-2">
        <div id="infoEmpresa"></div>
    </div>
</header>
